<li id="menu3">
    <a href="#">Crear/Modificar</a>
    <ul>
        <li><a href="{CREAR_SEDE}">Crear/Modificar Sede</a></li>
        <li><a href="#">Crear/Modificar Campus</a></li>
        <li><a href="#">Crear/Modificar Edificio</a></li>
        <li><a href="#">Crear/Modificar Espacios</a></li>
    </ul>
</li>
<li id="menu3">
    <a href="#">Consultar</a>
    <ul>
        <li><a href="#">Consultar Sede</a></li>
        <li><a href="#">Consultar Campus</a></li>
        <li><a href="#">Consultar Edificio</a></li>
        <li><a href="#">Consultar Espacios</a></li>
    </ul>
</li>
<li id="menu3">
    <a href="#">Opciones Cuenta</a>
    <ul>
        <li><a href="#">Modificar Cuenta</a></li>
        <li><a href="{SALIR}">Cerrar Sesión</a></li>
    </ul>
</li>