<!DOCTYPE html>
<!-- Menu del usuario normal con permiso limitado-->
	<li id="menu2">
		<a href="#" title="Solicitudes">Solicitudes</a>
		<ul>
			<li><a href="{SET_REGISTROS}" title="Crear Solicitud">Realizar</a></li>
			<li id="historial"><a href="{LIST_HISTORIAL}" title="Consultar Historial de Solicitudes">Consultar Historial</a></li>
		</ul>
	</li>
	<li id="menu2">
		<a href="#" title="Opciones de Cuenta">Opciones de Cuenta</a>
		<ul>
			<li><a href="{EDIT_DATA}" title="Actualizar Datos del Usuario">Actualizar Datos</a></li>
			<li><a href="{SALIR}" title="Cerrar Sesi&oacute;n">Cerrar Sesi&oacute;n</a></li>
		</ul>
	</li>