/* your styles go here */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.a i.fa, button i.fa{
	color: white !important;
}

.btn-agregar{
    width: auto;
    text-align: center;
    padding: 0.5% 0.5% 0.5%;
}

.btn-agregar-modal{
    width: auto;
    text-align: center;
    padding: 0.5% 0.5% 0.5%;
}

.btn-agregar:disabled, .btn-agregar-modal:disabled{
    color: white;
    background-color: #e60013;
    border: none;
}

.btn-formulario{
    width: auto;
    text-align: center;
    padding: 0.5% 0.5% 0.5%;
    font-size: small;
}

.btn-formulario:disabled{
    color: white;
    background-color: #D51B23;
    border: none;
}

.btn-lg{
    text-align: center;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 0px solid #000000;
}

.btn-primary{
    background-color: #e60013;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled{
    background-color: #e15661;
    border-color: transparent;
}

.carousel-indicators .active{
		background-color: black;
}

.carousel-indicators li{
		border: 1px solid grey;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.col-xs-5{
		width: 40.66666667%;
}

.col-xs-7{
		width: 56.33333333%;
}

.copyright{
		padding: 2% 0% 0%;
}

.div_input_inicio_sesion{
		padding-top: 6%;
}

.div_izquierda{
    text-align: left;
    padding-left: 15%;
}

.derecha{
		float: right;
}

.dropdown-toggle{
		color: white !important;
		text-decoration: none !important;
}

.dropdown-toggle:focus, .dropdown-toggle:hover, .dropdown-toggle:active{
		background-color: #e15661 !important;
		border-color: #D51B23 !important;
}

.formulario{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-transform: capitalize;
}

.formulario-minusculas{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-control{
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
}

.form-group{
  	padding-bottom: 1%;
}

.image-footer{
		width: 100%;
		margin-left: auto;
    margin-right: auto;
}

.img_boton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_boton:hover{
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.img_boton_barra:hover{
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.input-group{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.input-lg{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.izquierda{
		float: left;
}

.mapa{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
}

.mapa_completo{
    margin-left: auto;
    margin-right: auto;
    width: auto;
		height: 500px !important;
}

.mapa_modal{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
}

.menu_usuario{
		color: black !important;
		width: 100% !important;
}

.modal-dialog{
    width: 60%;
}

.modal-footer{
		text-align: center;
}

.modulo_actual{
		color: white;
		padding: 15% 0% 0%;
}

.navbar-toggle btn-template-main collapsed{
		background-color: #D51B23;
		border-color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: #e15661;
		border-color: transparent;
}

.navbar-collapse collapse{
		background-color: #D51B23;
}

.opcion_activa{
		background-color: #e15661 !important;
		border-color: transparent !important;
}

.opcion_activa_seleccion{
		font-weight: bold;
		color: black !important;
}

.page-scroll{
		color: white !important;
		text-decoration: none !important;
}

.page-scroll:focus, .page-scroll:hover{
		background-color: #e15661 !important;
		border-color: #D51B23 !important;
}

.pull-right{
    color: #D51B23;
}

.social{
		padding: 0% 0% 0%;
}

#barra_usuario{
		color: black !important;
		float: right;
		width: auto !important;
    padding: 1% 0% 0%;
}

#barra_usuario:focus, #barra_usuario:hover{
		background-color: transparent !important;
		font-weight: bold;
		color: red;
}

#carrusel_inicio_sesion{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
}

#copyright{
		background-color: #D51B23;
		color: white;
		text-align: center;
		padding: 2% 0 2%;
}

#divMensaje{
    padding: 2% 0% 0%;
    font-weight: 400;
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 140%;
    width: 100%;
    height: auto;
}

#divTimeOut{
    width: 60%;
}

#map {
  height: 100%;
}

#myCarousel{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

#navbar{
	background-color: #D51B23;
	color: white;
}

#spanRegistrar{
    color: #D51B23;
}

#top{
	background-color: white;
	color: black;
}

#top .social a{
	color: black;
}

#top .social a:hover{
	color: red;
}

@media screen and (min-width:1200px) {
		.mapa{
	  		width:800px;
	  }

    .mapa_modal{
        width:540px;
    }
}

@media screen and (max-width:1200px) {
		.img_boton{
    		width: 25%;
    }

		.modal-dialog{
        width: 80%;
    }

		#divTimeOut{
				width: 80%;
		}
}

@media screen and (min-width:768px) {
		.img_boton{
        width: 35%;
    }
}

@media screen and (max-width:768px) {
		.btn-formulario{
		    text-align: center;
		    font-size: 80%;
		    padding: 2% 2% 2%;
		}

		.img_boton{
		    width: 20%;
		}

		.mapa{
		    width:500px;
		}

		.mapa_modal{
		    width:500px;
		}

		.modal-dialog{
		    width: 100%;
		}

		.navbar .yamm-content h5{
			border-bottom: double 2px white;
			color: white;
		}

		.navbar .yamm-content ul li a{
			color: white;
		}

		#divTimeOut{
				width: 100%;
		}

		#carrusel_inicio_sesion{
				display: none;
		}
}

@media screen and (max-width:1200px) and (min-width: 992px) {
    .mapa{
        width:655px;
    }

    .mapa_modal{
        width:635px;
    }
}

@media screen and (max-width:992px) and (min-width: 768px) {
		.mapa{
        width:500px;
    }

    .mapa_modal{
        width:532px;
    }
}
