/* your styles go here */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.a i.fa, button i.fa{
	 color: white !important;
}

.agregar_archivos{
    float: left;
    width: 82% !important;
}

.boton_agregar_foto{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.btn-agregar{
    width: auto;
    text-align: center;
    padding: 0.5% 0.5% 0.5%;
    font-size: smaller;
}

.btn-agregar-modal{
    width: auto;
    text-align: center;
    font-size: smaller;
    padding: 0.5% 0.5% 0.5%;
}

.btn-agregar:disabled, .btn-agregar-modal:disabled{
    color: white;
    background-color: #e60013;
    border: none;
}

.btn-eliminar-archivos{
    background-color: transparent !important;
    color: #D51B23;
}

.btn-formulario{
    width: auto;
    text-align: center;
    padding: 0% 2% 0%;
    font-size: large;
}

.btn-formulario:disabled{
    color: white;
    background-color: #D51B23;
    border: none;
}

.btn-lg{
    text-align: center;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 0px solid #000000;
}

.btn-primary{
    background-color: #e60013;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled{
    background-color: #e15661 !important;
    border-color: transparent !important;
}

.carousel-control.left{
    background: rgba(225,86,97,1) !important;
    background: -moz-linear-gradient(left, rgba(225,86,97,1) 0%, rgba(255,255,255,1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,86,97,1)), color-stop(100%, rgba(255,255,255,1))) !important;
    background: -webkit-linear-gradient(left, rgba(225,86,97,1) 0%, rgba(255,255,255,1) 100%) !important;
    background: -o-linear-gradient(left, rgba(225,86,97,1) 0%, rgba(255,255,255,1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(225,86,97,1) 0%, rgba(255,255,255,1) 100%) !important;
    background: linear-gradient(to right, rgba(225,86,97,1) 0%, rgba(255,255,255,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e15661', endColorstr='#ffffff', GradientType=1 ) !important;
}

.carousel-control.right{
    background: rgba(255,255,255,1) !important;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(225,86,97,1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(225,86,97,1))) !important;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(225,86,97,1) 100%) !important;
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(225,86,97,1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(225,86,97,1) 100%) !important;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(225,86,97,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e15661', GradientType=1 ) !important;
}

.carousel-indicators .active{
		background-color: #D51B23;
    border-color: transparent;
}

.carousel-indicators li{
		border: 1px solid #D51B23;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: auto;
}

.carouselImg img {
    width: auto;
    height: auto;
    max-height: 300px;
}

.div_carousel{
    height: 300px;
}

.col-xs-5{
		width: 40.66666667%;
}

.col-xs-7{
		width: 56.33333333%;
}

.copyright{
		padding: 2% 0% 0%;
}

.div_input_inicio_sesion{
		padding-top: 4%;
}

.div_izquierda{
    text-align: left;
    padding-left: 15%;
}

.dropdown-toggle{
		color: white !important;
		text-decoration: none !important;
}

.dropdown-toggle:focus, .dropdown-toggle:hover, .dropdown-toggle:active{
		background-color: #e15661 !important;
		border-color: #D51B23 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.formulario{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-transform: capitalize;
}

.formulario-minusculas{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-control{
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
}

.form-group{
  	padding-bottom: 1%;
}

.image-footer{
		width: 100%;
		margin-left: auto;
    margin-right: auto;
}

.img_boton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_boton:hover{
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.img_boton_barra:hover{
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.input-group{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.input-lg{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.item {
    height: 300px;
}

.item img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.mapa{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 300px;
}

.mapa_completo{
    margin-left: auto;
    margin-right: auto;
    width: auto;
		height: 500px !important;
}

.mapa_modal{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 300px;
}

.menu_usuario{
		color: black !important;
		width: 100% !important;
}

.modal-dialog{
    width: 60%;
}

.modal-footer{
		text-align: center;
}

.modulo_actual{
		color: white;
		padding: 15% 0% 0%;
}

.navbar-toggle btn-template-main collapsed{
		background-color: #D51B23;
		border-color: white;
}

.navbar ul.nav > li.active > a, .navbar ul.nav > li.open > a{
    border-color: #D51B23 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: #e15661;
		border-color: transparent;
}

.navbar-collapse collapse{
		background-color: #D51B23;
}

.opcion_activa{
		background-color: #e15661 !important;
		border-color: transparent !important;
}

.opcion_activa_seleccion{
		font-weight: bold;
		color: black !important;
}

.page-scroll{
		color: white !important;
		text-decoration: none !important;
}

.page-scroll:focus, .page-scroll:hover{
		background-color: #e15661 !important;
		border-color: #D51B23 !important;
}

.pull-right{
    color: #D51B23;
}

.resaltarInput{
    border: #D51B23 1px solid;
    border-radius: 5px;
}

.social{
		padding: 0% 0% 0%;
}

.text_archivos_seleccionados{
    border-color: transparent;
    resize: none;
    text-align: center;
    height: 30px;
    width: 200px;
}

.text_archivos_seleccionados:focus{
    border-color: transparent;
}

.texto-inicio-sesion{
    font-size: medium;
}

.texto_tachado{
    text-decoration:line-through;
}

#agregar_foto{
    height: 300px;
    width: 100%;
    border-color: transparent;
}

#anadir_foto{
    height: 300px;
    width: 100%;
    padding: 32% 29% 0%;
    border-color: transparent;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

#anadir_foto: hover, #anadir_foto: focus{
    border-color: transparent;
}

#barra_usuario{
		color: black !important;
		float: right;
		width: auto !important;
    padding: 1% 0% 0%;
    cursor: pointer;
}

#barra_usuario:focus, #barra_usuario:hover{
		background-color: transparent !important;
		font-weight: bold;
		color: red;
}

#carrusel_inicio_sesion{
		margin-left: auto;
		margin-right: auto;
}

#copyright{
		background-color: #D51B23;
		color: white;
		text-align: center;
		padding: 2% 0 2%;
}

#divBotonesInformacionAdicional{
    padding: 2% 0% 2%;
}

#divMensaje{
    padding: 2% 0% 0%;
    font-weight: 400;
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 140%;
    width: 100%;
    height: auto;
}

#divTimeOut{
    width: 60%;
}

#error_correo, #error_login{
    color: #D51B23;
}


#fileInputOculto{
    width: 100%;
    height: 100%;
}

#fileInputVisible{
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    padding: 33% 0% 0%;
}

#iconoErrorCorreo, #iconoErrorLogin{
    width: 35%;
}

#icono_foto{
    bottom: inherit;
    padding: 16% 0% 0%;
}

#myCarousel{
  	width: 70%;
  	margin-left: auto;
  	margin-right: auto;
}

#navbar{
	   background-color: #D51B23;
	  color: white;
}

#spanRegistrar{
    color: #D51B23;
}

#top{
	   background-color: white;
	    color: black;
}

#top .social a{
	   color: black;
}

#top .social a:hover{
	   color: red;
}

#ver_campus, #ver_cancha, #ver_corredor, #ver_parqueadero, #ver_piscina, #ver_plazoleta, #ver_sendero, #ver_via, #ver_edificio, #ver_edificios, #ver_espacios{
    font-size: small;
}

/* Smaller than standard 960 (devices and browsers) */
@media screen and (max-width:1200px) {
		.img_boton{
    		width: 25%;
    }

		.modal-dialog{
        width: 80%;
    }

		#divTimeOut{
				width: 80%;
		}
}

@media screen and (min-width: 992px) and (max-width:1200px){
    .texto-inicio-sesion{
        font-size: small;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width:991px) {
    .texto-inicio-sesion{
        font-size: smaller;
    }
}

@media screen and (min-width:768px) {
		.img_boton{
        width: 35%;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .btn-formulario{
        text-align: center;
        padding: 1% 1% 1%;
        font-size: smalller;
    }

    .div_carousel{
        display: none;
    }

    .img_boton{
        width: 20%;
    }

    .modal-dialog{
        width: 100%;
    }

    .navbar .yamm-content h5{
      border-bottom: double 2px white;
      color: white;
    }

    .navbar .yamm-content ul li a{
      color: white;
    }

    .texto-inicio-sesion{
        font-size: x-small;
    }

    #divTimeOut{
        width: 100%;
    }

    #logoUnivalle{
        display: none;
    }

    #carrusel_inicio_sesion{
        display: none;
    }
}
